
        * {
            margin: 0;
            padding: 0;
        }

        /* body{
            overflow: hidden;
        } */
        ul {
            display: flex;
            place-items: center;
            justify-content: center;
            /* flex-direction:column; */
        }
        .all{
            padding-left: 0px;
            padding-right: 0px;
        }

        .img1 {
            width:200px;
            margin-right: 100px;

        }

        li {
            padding: 10px;
            margin: 6px;
            list-style-type: none;
            cursor: pointer;
            display: flex;
            /* Added */
            align-items: center;
            /* Aligns text and SVG vertically */
            gap: 10px;
            /* Optional: space between text and SVG */

        }

        li:hover {
            color: rgb(9, 243, 9);
            background-color: rgb(210, 204, 209);
            border-radius: 30px;
        }

        li a {
            text-decoration: none;
            color: inherit;

        }
        .first{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: sans-serif;
        }
        .heading{
            display: flex;
            font-size: 50px;
            gap: 30px;
            margin-top: 22px;
        }
        .para{
            font-size: 30px;
            margin:40px 120px 0px 120px ;
            text-align: center;
        }
        .switch{
            font-size: 25px;
            font-weight: 600;
            padding: 12px;
            margin-top: 25px;
            background-color:#00b6d1;
            color: white;
            cursor: pointer;
            text-transform: uppercase;
            border-radius: 12px;
        }
        .second{
            display: flex;
            margin-left: 120px;
            margin-top: 70px;
        }
        .second .one{
            border: 2px solid black;
            background-color:rgb(227, 209, 19) ;
            border-radius: 50%;
            font-size: 40px;
            padding: 12px;
            text-decoration: solid;

        }
        .second .two{
              font-size: 30px;
              margin-top:15px ;
              margin-left: 27px;
        }
        .second .three{
              font-size: 15px;
              margin-top:28px ;
              margin-left:12px;
        }
        .item{
            background-color: aliceblue;
            width: 100%;
            height: auto;
            /* padding: 6px; */
            border-radius: 18px;
            /* margin:35px 12px 0px 12px; */
            text-align: center;
            
         }
        .download{
            display: flex;
           justify-content: center;
            gap: 22px;
            margin-bottom: 20px;
            color: white;
            padding: 6px 0px;
            padding-left: 24px;

        }
        .download .blue{
            border: 0.5px solid #2fa1c7;
            background-color: #2fa1c7;
            margin: 51px 20px 0px 0px;
            padding: 12px;
            cursor: pointer;
            border-radius: 18px;
        
        }
        .download .green{
            border: 0.5px solid #5cb85c ;
            background-color: #5cb85c;
            margin: 51px 20px 0px 0px;  
            padding: 12px;
            cursor: pointer;
            border-radius: 18px;
        }
      .lang{
        font-size:29px;
        text-align: center;
        font-weight: 500;
        font-family: 'Segoe UI';
        padding: 12px;
        padding-bottom: 6px;
      }
      /* .sec{ 
    /* max-width: 100vw; */
    /* margin: auto;  */
    /* } */

      .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 12px 32px;
    /* width: fit-content;       */
        margin: 32px;
      }
    @media screen and (max-width:1108px) {
        .grid{
            grid-template-columns: 1fr;
        }
        .all{
            display: grid;
        }
       
    }